manifest {
    description = 'Devin Holman and Arun Kommadath Metagenomic workflow (AAFC)'
}

profiles {
    local {
    
    
        params {
            genome    = "$baseDir/data/ARS-UCD1.2.fa"
            reads     = "$baseDir/data/raw_reads/*_R{1,2}.fastq.gz"
            results   = "$baseDir/my_results"
        }
        
        
	process {
            executor = 'local'
            memory = 6.GB
            errorStrategy = 'finish'
            withLabel: mem_large { memory = 24.GB }
            withLabel: mem_xlarge { memory = 24.GB }    
            withName: QUALITY_FILTERING {conda = '/home/brouardjs/miniconda3/envs/fastp'}     
        }
       
       
       
       
    }
}




